<html>
  <head>
    <title>KawaiiBot</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">

    <meta content="https://kawaiibot.cf/images/profile.png" property="og:image" />
    <meta content="KawaiiBot" property="og:title" />
    <meta content="Add KawaiiBot to your server <3" property="og:description" />

    <!-- CSS/JS stuff -->
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="scripts/stats.js"></script>
  </head>
  <body>
    <div class="overlay_black">
      <div class="center_page_auth">
        <div class="center_page">
          <img src="images/profile.png" class="image_title_auth">
          <img src="images/plus.png" class="image_title_auth">
          <img src="{{icon_url}}" class="image_title_auth">
          <br class="infobox"><br class="infobox">
            <h1 class="white-text bigger">Success!</h1><br class="infobox">
            <p class="white-text">KawaiiBot has sucessfully been added to the server <b>{{server_name}}</b>!
            <br class="infobox">You may now close this window.</p>
        </div>
      </div>
    </div>
  </body>
</html>
